.categories-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.categories-content {
  height: 100%;
  width: 1920px;
  display: grid;
  grid-template-areas:
    'a b'
    'c c'
    'd e';
  grid-gap: 15px;
  padding: 30px;
}

.categories-content div:nth-child(1) {
  grid-area: a;
}

.categories-content div:nth-child(2) {
  grid-area: b;
}

.categories-content div:nth-child(3) {
  grid-area: c;
}

.categories-content div:nth-child(4) {
  grid-area: d;
}

.categories-content div:nth-child(5) {
  grid-area: e;
}
